%dl.govuk-summary-list.defect_information
  = render partial: '/shared/defects/information', locals: { defect: defect }
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Block
    %dd.govuk-summary-list__value= defect.block.name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Access information
    %dd.govuk-summary-list__value= defect.access_information
