%h3.govuk-heading-s.section-heading--s
  Contact details
%dl.govuk-summary-list.govuk-summary-list--no-border.no-actions.defect_contact
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Contact name
    %dd.govuk-summary-list__value= defect.contact_name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Contact email address
    %dd.govuk-summary-list__value= defect.contact_email_address
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Contact phone number
    %dd.govuk-summary-list__value= defect.contact_phone_number
