%dl.govuk-summary-list.defect_information
  = render partial: '/shared/defects/information', locals: { defect: defect }
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Property
    %dd.govuk-summary-list__value= defect.property.address
