%p.govuk-body-s
  In this section you can view and create Estate records and add schemes, contractors, priorities and property addresses.

= link_to(I18n.t('generic.button.create', resource: 'Estate'), new_estate_path, class: 'govuk-button govuk-button--secondary mb0')
%table.govuk-table.estates
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        Estate name
      %th.govuk-table__header
        Action
  %tbody.govuk-table__body
    - estates.each do |estate|
      %tr.govuk-table__row
        %td.govuk-table__cell= estate.name
        %td.govuk-table__cell= link_to I18n.t('generic.link.show'), estate_path(estate), class: 'govuk-link govuk-link--no-visited-state'
