- content_for :page_title_prefix, I18n.t('page_title.staff.defects.create')

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl
      = I18n.t('page_title.staff.defects.show', reference_number: @defect.reference_number)
    = render partial: '/shared/defects/information', locals: { defect: @defect }

  .govuk-grid-column-one-third
    %h2.govuk-heading-l
      Scheme
    = render partial: '/shared/schemes/information', locals: { scheme: @defect.property.scheme }

    %h2.govuk-heading-l
      Property
    = render partial: '/shared/properties/information', locals: { property: @defect.property }
