%h1.govuk-heading-m.section-heading Status
%table.govuk-table.scheme-reports
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        Name
      %th.govuk-table__header
        Property
      %th.govuk-table__header
        Communal
      %th.govuk-table__header
        Total
  %tbody.govuk-table__body
    - Defect.statuses.each do |text, integer|
      %tr.govuk-table__row
        %td.govuk-table__cell= text.tr('_', ' ').capitalize
        %td.govuk-table__cell= presenter.defects_by_status(text: text).property.count
        %td.govuk-table__cell= presenter.defects_by_status(text: text).communal.count
        %td.govuk-table__cell= presenter.defects_by_status(text: text).count
