%h1.govuk-heading-m.section-heading Trades
%table.govuk-table.trades
  %thead.govuk-table__head
    %tr.govuk-table__row
      %th.govuk-table__header
        Name
      %th.govuk-table__header
        Percentage
      %th.govuk-table__header
        Total
  %tbody.govuk-table__body
    - Defect::CATEGORIES.each do |category, trades|
      %tr.govuk-table__row
        %td.govuk-table__cell= category
        %td.govuk-table__cell= presenter.category_percentage(category: category)
        %td.govuk-table__cell= presenter.defects_by_category(category: category).count
