%dl.govuk-summary-list.property_information
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Estate
    %dd.govuk-summary-list__value= property.scheme.estate.name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Scheme
    %dd.govuk-summary-list__value= property.scheme.name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Property address
    %dd.govuk-summary-list__value= property.address
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Property core
    %dd.govuk-summary-list__value= property.core_name
