%dl.govuk-summary-list.property_information
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key UPRN
    %dd.govuk-summary-list__value= property.uprn
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Property address
    %dd.govuk-summary-list__value= property.address
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Property core
    %dd.govuk-summary-list__value= property.core_name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Postcode
    %dd.govuk-summary-list__value= property.postcode
