%dl.govuk-summary-list.govuk-summary-list--no-border.no-actions.scheme_short_information
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Scheme name
    %dd.govuk-summary-list__value= scheme.name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Contractor name
    %dd.govuk-summary-list__value= scheme.contractor_name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Employer agent name
    %dd.govuk-summary-list__value= scheme.employer_agent_name
