%dl.govuk-summary-list.communal_area_information
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Name
    %dd.govuk-summary-list__value= communal_area.name
  %div.govuk-summary-list__row
    %dt.govuk-summary-list__key Location
    %dd.govuk-summary-list__value= communal_area.location
