- content_for :page_title_prefix, I18n.t('page_title.staff.schemes.show', name: @scheme.name)

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %h1.govuk-heading-xl= I18n.t('page_title.staff.schemes.show', name: @scheme.name).titleize
    = link_to(I18n.t('generic.button.create', resource: 'Priority'), new_scheme_path, class: 'govuk-button mb0')
