.lbh-filter-form {
  border: 4px solid $lbh-panel-light;
  padding: 0.75rem;
}

.filter-defects {
  @extend .lbh-filter-form;

  .lbh-checkboxes {
    border-top: 1px solid $lbh-panel-light;
    padding-top: 1px;
    background-color: #fff;
  }

  .lbh-fieldset {
    display: inline;
  }
}

.date-filter {
  @extend .lbh-filter-form;
  margin-bottom: 10px;
  .date-form {
    display: inline-block;
  }
}

.collection_radio_buttons {
  @extend .govuk-radios__label;
}

.defect-flagged {
  background-color: $lbh-error-colour;
  color: $lbh-text-white-colour;
  border-radius: 2px;
  display: block;
  font-size: 1.1875rem;
  font-weight: bold;
  line-height: 1;
  padding: 9px 10px;
  width: 4em;
  margin-bottom: 1em;
}

.defect-flagged-toggle {
  display: inline-block;
}
