.govuk-list {
  a.govuk-link--no-visited-state {
    @include govuk-link-style-no-visited-state;
  }
}

.govuk-summary-list.no-actions {
  .govuk-summary-list__row {
    font-size: 1rem;

    .govuk-summary-list__key {
      width: 45%;
    }
    @include govuk-media-query($until: tablet) {
      .govuk-summary-list__key {
        width: 100%;
      }
    }

    .govuk-summary-list__value {
      width: 55%
    }

    @include govuk-media-query($until: tablet) {
      .govuk-summary-list__value {
        width: 100%
      }
    }
  }
}

.govuk-list.media-list {
  margin: 0;
  padding-left: 0;
}
