$govuk-font-url-function: 'font-url';
$govuk-image-url-function: 'image-url';

@import 'base/frontend';
@import 'base/mixins';
@import 'base/hackney-colours';
@import 'components/lbh-header';
@import 'components/lbh-buttons';
@import 'components/flashes';

p {
  @include govuk-font(19);
}

.collection_radio_buttons {
  @extend .govuk-radios__label;
}

.govuk-list {
  a.govuk-link--no-visited-state {
    @include govuk-link-style-no-visited-state;
  }
}

.govuk-summary-list.no-actions {
  .govuk-summary-list__row {
    font-size: 1rem;

    .govuk-summary-list__key {
      width: 45%;
    }
    @include govuk-media-query($until: tablet) {
      .govuk-summary-list__key {
        width: 100%;
      }
    }

    .govuk-summary-list__value {
      width: 55%
    }

    @include govuk-media-query($until: tablet) {
      .govuk-summary-list__value {
        width: 100%
      }
    }
  }
}

.scheme-info {
  border-right: 1px solid $lbh-border-colour;
}

@include govuk-media-query($until: desktop) {
  .scheme-info {
    border-right: none;
    border-bottom: 1px solid $lbh-border-colour;
    margin-bottom: 1em;
  }
}


.section-heading {
  border-bottom: 1px solid $lbh-border-colour;
  border-bottom: 1px solid $lbh-primary;
  border-right: 1px solid lighten($lbh-border-colour, 15%);
  border-top: 1px solid lighten($lbh-border-colour, 15%);
  border-left: 1px solid lighten($lbh-border-colour, 15%);
  background-color: lighten($lbh-border-colour, 20%);;
  padding: 0.5em;

  &--s {
    border-top: 1px solid lighten($lbh-border-colour, 15%);
    background-color: lighten($lbh-border-colour, 20%);;
    padding: 0.5em;
  }
}

@include govuk-media-query($until: tablet) {
  .section-heading {
    border-bottom: 1px solid $lbh-border-colour;
    border-right: 1px solid lighten($lbh-border-colour, 15%);
    border-top: 1px solid lighten($lbh-border-colour, 15%);
    border-left: 1px solid lighten($lbh-border-colour, 15%);
    background-color: lighten($lbh-border-colour, 20%);;
    padding: 0.5em;
    padding-left: 1em;
    margin-left: -1em;
    margin-right: -1em;
  }
}
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.govuk-list.media-list {
  margin: 0;
  padding-left: 0;
}

.comments {
  li.lbh-comment {
    margin: 20px 0px 25px 0px;
    list-style: none;
    border-bottom: 1px solid $lbh-border-colour;

    .media-heading {
      margin-bottom: 15px;

      time {
        color: $lbh-dark-grey;

        &.govuk-body-s {
          display: inline;
        }
      }
    }
  }

}
